{% load static %}

{% load cart_tag %}

{% include 'dashboard/message.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic page needs -->
<meta charset="utf-8">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->

<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>GoShop</title>
<meta name="description" content="best template, template free, responsive Template, fashion store, responsive Template, responsive html Template, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template">
<meta name="keywords" content="bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive Template, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template"/>

<!-- Mobile specific metas  -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon  -->


<!-- CSS Style -->
<link rel="stylesheet" href="{% static 'assets/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/cloud-zoom.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/blogmate.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/flexslider.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fancybox.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/jquery.bxslider.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/jtv-mobile-menu.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pe-icon-7-stroke.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/quick_view_popup.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/revolution-slider.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/simple-line-icons.css' %}">

</head>

<body class="account-page">
<!-- mobile menu -->
<div id="jtv-mobile-menu">
  <ul>
    <li>
      <div class="jtv-search-mob">
        <form id="search1" name="search">
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
            </div>
            <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
          </div>
        </form>
      </div>
    </li>
    <li><a href="/">Home</a> </li>
    {% for cat in cats %}

    {% if not cat.children.all %}
    
    <li><a>{{ cat.name }}</a>
      {% else %}
      <li><a>{{ cat.name }}</a>
      <ul>
        {% for subcategory in cat.children.all %}
        <li> <a href="/product_category/{{subcategory.id}}"><span>{{ subcategory.name }}</span></a>
        </li>
        {% endfor %}
      </ul>
    </li>
  </li>
  {% endif %}

    {% endfor %}
  </ul>
  
  <div class="jtv-top-link-mob">
    <ul class="links">
      <li><a title="My Account" href="/accounts/register">Register</a> </li>
      
      <li><a title="Checkout" href="/cart/checkout">Checkout</a> </li>
      <li class="last"><a title="Login" href="/accounts/login"><span>Login</span></a> </li>
    </ul>
  </div>
</div>

<div id="page"> 
  <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]--> 
  
  <!-- Header -->
  <header>
    <div class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row"> 
            <!-- Header Language -->
            <div class="col-xs-12 col-sm-4 col-md-6">
              <div class="welcome-msg">Welcome to our store! </div>
              <!-- <div class="dropdown jtv-language-box"> <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img class="img-responsive" src="images/flag-english.jpg" alt="language"> English <span class="caret"></span> </a>
                <ul class="dropdown-menu" role="menu">
                  <li> <a class="selected" href="#"> <img class="img-responsive" src="images/flag-english.jpg" alt="flag"> <span>English</span> </a> </li>
                  <li> <a href="#"> <img class="img-responsive" src="images/flag-default.jpg" alt="flag"> <span>French</span> </a> </li>
                  <li> <a href="#"> <img class="img-responsive" src="images/flag-german.jpg" alt="flag"> <span>German</span> </a> </li>
                  <li> <a href="#"> <img class="img-responsive" src="images/flag-brazil.jpg" alt="flag"> <span>Brazil</span> </a> </li>
                  <li> <a href="#"> <img class="img-responsive" src="images/flag-chile.jpg" alt="flag"> <span>Chile</span> </a> </li>
                  <li> <a href="#"> <img class="img-responsive" src="images/flag-spain.jpg" alt="flag"> <span>Spain</span> </a> </li>
                </ul>
              </div> -->
              <!-- End Header Language --> 
              
              <!-- Header Currency -->
              <!-- <div class="dropdown jtv-currency-box"> <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#"> $ - Dollar </a> </li>
                  <li><a href="#"> £ - Pound </a> </li>
                  <li><a href="#"> € - Euro </a> </li>
                </ul>
              </div> -->
              <!-- End Header Currency --> 
              
            </div>
            <div class="col-xs-6 col-sm-8 col-md-6 hidden-xs"> 
              <!-- Header Top Links -->
              <div class="jtv-top-links">
                <div class="links">
                  <ul>
                    <li> <a title="My Account" href="/accounts/register"><span class="hidden-xs">Register</span></a> </li>
                    
                    <li> <a title="Checkout" href="/cart/checkout"><span class="hidden-xs">Checkout</span></a> </li>
                    <li>
                      <!-- <div class="dropdown block-company-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#"> More <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="about_us.html"> About Us </a> </li>
                          <li><a href="#"> Customer Service </a> </li>
                          <li><a href="#"> Privacy Policy </a> </li>
                          <li><a href="sitemap.html">Site Map </a> </li>
                          <li><a href="#">Search Terms </a> </li>
                          <li><a href="#">Advanced Search </a> </li>
                        </ul>
                      </div> -->
                    </li>
                    <li> <a href="/accounts/login"><span class="hidden-xs">Log In</span></a> </li>
                  </ul>
                </div>
              </div>
              <!-- End Header Top Links --> 
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="jtv-top-cart-box"> 
              <!-- Top Cart -->
              <div class="mini-cart">
                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a> <i class="pe-7s-cart"></i><span class="cart_count"></span><span class="price">My Cart</span> </a> </div>
                <div>
                  <div class="jtv-top-cart-content"> 
                    
                    <!--block-subtitle-->
                    <ul class="mini-products-list" id="cart-sidebar">
                      {% for key,value in request.session.cart.items %}
                      <li class="item first">
                        <div class="item-inner"> <a class="product-image" title="Product Title Here" ref="#"><img src="{{value.image}}" class="img-thumbnail img-responsive" style="max-width:50%;"> </a>
                          <div class="product-details">
                            <div class="access"><a class="jtv-btn-remove" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>
                            <p class="product-name"><a href="#">{{value.name}}</a> </p>
                            <strong>{{value.quantity}}</strong> x <span class="price">{{ value.price }}</span> </div>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                    
                    <!--actions-->
                    <div class="actions">
                      <a  href="/cart/checkout" class="btn-checkout" title="Checkout" type="button" onClick="checkout.html"><span>Checkout</span> </a>
                      <a href="/cart/cart-detail" class="view-cart"><span>View Cart</span></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 jtv-logo-box"> 
            <!-- Header Logo -->
            <div class="logo"> <a title="GoShop"><img class="img-responsive" alt="GoShop" src="{% static 'assets/images/goshop1.jpg' %}"> </a> </div>
            <!-- End Header Logo --> 
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hidden-xs">
            <div class="search-box">
              <!-- <form action="cat" method="POST" id="search_mini_form" name="Categories">
                <input type="text" placeholder="Search entire store here..." value="Search" maxlength="70" name="search" id="search">
                <button type="button" class="search-btn-bg"><i class="pe-7s-search"></i>&nbsp;</button>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->  
  
  <!-- Navigation -->
  
  <nav>
    <div class="container">
      <div class="nav-inner">
      <div class="mm-toggle-wrap hidden-sm hidden-md hidden-lg">
        <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Categories</span> </div>
      </div> 
        <!-- BEGIN NAV -->

        <ul id="nav" class="hidden-xs">
          <li class="drop-menu"><a href="/" class="level-top active"><span>Home</span></a>
          </li>
          {% for cat in cats %}
        
          {% if not cat.children.all %}
          <li class="mega-menu"> <a class="level-top" ><span>{{ cat.name }}</span></a>
            {% else %}
          <li class="mega-menu"> <a class="level-top" ><span>{{ cat.name }}</span></a>
            
            <div class="jtv-menu-block-wrapper">
              <div class="jtv-menu-block-wrapper2">
                <div class="nav-block jtv-nav-block-center">
                  
                  <div class="col-1">
                    {% for subcategory in cat.children.all %}
                    <div class="col-1 col-2 ">
                    <ul class="level0">
                      <li class="parent item"> <a href="/product_category/{{subcategory.id}}"><span>{{ subcategory.name }}</span></a>
                        
                        
                      </li>
                      
                    </ul>
                  </div>
                    {% endfor %} 
                  </div>
                  
                  <div class="col-2">
                    <div class="jtv-nav-image1"> <a title=""><img class="img-responsive" alt="menu_image" src="{% static 'assets/images/goshop.jpg' %}"> </a> </div>
                  </div>
                </div>
              </div>
            </div>
            
          </li>
          
          {% endif %}
          {% endfor %}
          
          <!-- <li class="mega-menu"> <a class="level-top" href="#"><span>Blog</span></a> </li> -->
          
        </ul>
  </nav>
  <!-- end nav --> 
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="account-login">
        <div class="page-title">
          <h2>Login or Create an Account</h2>
        </div>
        <fieldset class="col2-set">
          <div class="col-1 new-users"><strong>New Customers</strong>
            <div class="content">
              <!-- <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p> -->
              <div class="buttons-set">
                <a href="/accounts/register" class="button create-account" type="button"><span>Create an Account</span></a>
              </div>
            </div>
          </div>
          <div class="col-2 registered-users"><strong>Registered Customers</strong>
            <div class="content">
              <p>If you have an account with us, please log in.</p>
              <form method="POST" action="/accounts/login/">
                {% csrf_token %}
                {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
              <ul class="form-list">
                <li>
                  <label for="email">Email Address <span class="required">*</span></label>
                  <br>
                  <input type="text" title="Email Address" class="input-text required-entry" id="email"  name="email">
                  <!-- {{ form.email }} -->
                </li>
                <li>
                  <label for="pass">Password <span class="required">*</span></label>
                  <br>
                  <input type="password" title="Password" id="pass" class="input-text required-entry validate-password" name="password">
                  <!-- {{ form.password1 }} -->
                </li>
              </ul>
              <p class="required">* Required Fields</p>
              <div class="buttons-set">
                <button id="send2" name="send" type="submit" class="button login"><span>Login</span></button>
                <a class="forgot-word" href="/accounts/reset_password">Forgot Your Password?</a> </div>
            </div>
        </form>
          </div>
        </fieldset>
      </div>
 
    </div>
  </section>
  


 <!-- Brand Logo -->  
 <div class="brand-logo">
  <div class="container">
    <div class="slider-items-products">
      <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
        <div class="slider-items slider-width-col6"> 
          
          <div class="item"> <a><img class="img-responsive" src="{% static 'assets/images/goshop.jpg' %}" alt="Image"> </a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"> <a><img class="img-responsive" src="{% static 'assets/images/goshop3.jpg' %}" alt="Image"> </a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"> <a><img class="img-responsive" src="{% static 'assets/images/goshop.jpg' %}" alt="Image"> </a> </div> 
          
          <!-- Item -->
          <div class="item"> <a><img class="img-responsive" src="{% static 'assets/images/goshop3.jpg' %}" alt="Image"> </a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"> <a><img class="img-responsive" src="{% static 'assets/images/goshop.jpg' %}" alt="Image"> </a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"> <a><img class="img-responsive" src="{% static 'assets/images/goshop3.jpg' %}" alt="Image"> </a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"> <a><img class="img-responsive" src="{% static 'assets/images/goshop.jpg' %}" alt="Image"> </a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"> <a><img class="img-responsive" src="{% static 'assets/images/goshop3.jpg' %}" alt="Image"> </a> </div>
          <!-- End Item --> 
          
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Footer -->
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- <div style="text-align:center"> <a href="/"><img class="img-responsive" src="{% static 'assets/images/goshop1.jpg' %}" alt="logo"> </a> </div> -->
          <address>
          <p> <i class="pe-7s-map-marker"></i>Company, GoShop </p>
          <p><i class="pe-7s-call"></i><span>+ 234 906 667 2305</span> </p>
          <p> <i class="pe-7s-mail-open"></i><span><a href="mailto:goshopperfect@gmail.com">goshopperfect@gmail.com</a></span></p>
          </address>
        </div>
      </div>
    </div>
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xs-12 col-md-3">
            <div class="footer-links">
              
              <ul class="links">
                <li><a  title="Product Recall">Product Recall</a></li>
                <li><a  title="Gift Vouchers">Gift Vouchers</a></li>
                <li><a  title="Returns &amp; Exchange">Returns &amp; Exchange</a></li>
                <li><a  title="Shipping Options">Shipping Options</a></li>
                <li><a  title="Help &amp; FAQs">Help &amp; FAQs</a></li>
                <li><a  title="Order history">Order history</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 col-md-3">
            <div class="footer-links">
              <h4>Service</h4>
              <ul class="links">
                <li><a >Account</a></li>
                <li><a >Wishlist</a></li>
                <li><a >Shopping Cart</a></li>
                <li><a >Return Policy</a></li>
                <li><a >Special</a></li>
                <li><a >Lookbook</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 col-md-2">
            <div class="footer-links">
              <h4>Information</h4>
              <ul class="links">
                <li><a >Sites Map </a></li>
                <li><a >News</a></li>
                <li><a >Trends</a></li>
                <li><a >About Us</a></li>
                <li><a >Contact Us</a></li>
                <li><a >My Orders</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="footer-links">
              <div class="footer-newsletter">
                <!-- <h4>Subscribe to our news</h4> -->
                <!-- <form id="newsletter-validate-detail" method="post" action="#">
                  <div class="newsletter-inner">
                    <p>Subscribe to be the first to know about Sales, Events, and Exclusive Offers!</p>
                    <input class="newsletter-email" name='Email' placeholder='Enter Your Email'/>
                    <button class="button subscribe" type="submit" title="Subscribe">Subscribe</button>
                  </div>
                </form> -->
              </div>
              <div class="social">
                <h4>Follow Us</h4>
                <ul class="inline-mode">
                  <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://web.facebook.com/GOShop-106197331098319"><i class="fa fa-facebook"></i></a></li>
                  <!-- <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="https://twitter.com/GoShop47322089"><i class="fa fa-google-plus"></i></a></li> -->
                  <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="https://twitter.com/GoShop47322089"><i class="icon-social-twitter icons"></i></a></li>
                  <li class="social-network linkedin"><a title="Connect us on Linkedin" target="_blank" href="https://www.pinterest.com/goshopperfect/pins/"><i class="fa fa-linkedin"></i></a></li>
                  <!-- <li class="social-network rss"><a title="Connect us on rss" target="_blank" href="https://instagram.com/"><i class="fa fa-rss"></i></a></li> -->
                  <li class="social-network instagram"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-6 col-xs-12 coppyright">Copyright © 2021 <a> GoShop </a>. All Rights Reserved. </div>
          <div class="col-sm-5 col-md-6 col-xs-12 payment-accept">
            <!-- <ul>
              <li> <a href="#"><img class="img-responsive" src="images/payment-1.png" alt="Payment Card"></a> </li>
              <li> <a href="#"><img class="img-responsive" src="images/payment-2.png" alt="Payment Card"></a> </li>
              <li> <a href="#"><img class="img-responsive" src="images/payment-3.png" alt="Payment Card"></a> </li>
              <li> <a href="#"><img class="img-responsive" src="images/payment-4.png" alt="Payment Card"></a> </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>


<!-- End Footer -->

<!-- jquery js --> 
<script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script> 

<!-- bootstrap js --> 
<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script> 

<!-- owl.carousel.min js --> 
<script type="text/javascript" src="{% static 'assets/js/owl.carousel.min.js' %}"></script> 

<!-- jtv-jtv-mobile-menu js --> 
<script type="text/javascript" src="{% static 'assets/js/jtv-mobile-menu.js' %}"></script> 

<!-- countdown js --> 
<script type="text/javascript" src="{% static 'assets/js/countdown.js' %}"></script> 

<!-- main js --> 
<script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script> 
</body>
</html>