{% extends 'goshopbase/base.html' %}
{% load static %}
{% load hitcount_tags %}
 
<main>
{% block body %}

    
        

<!-- slider Area End-->
<!-- Category Area Start-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">

                
                <article class="blog_item">
                    <div class="container">  
                        <div class="box">  
                            <div class="box-row">
                                <div class="box-cell box1 three" >
                                    {% for product in products %}
                                     
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" style="height: 20em; width: 20em;" src="{{ product.image.url }}" alt="">
                                        <a class="blog_item_date">
                                        <p>NGN {{ product.price }}</p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block" href="{% url 'product_detail' product.slug  %}">
                                            <h2>{{ product.name }}</h2>
                                        </a>
                                        <ul class="blog-info-link">
                                            <li><a href="#"><i class="fa fa-user"></i> {{ product.category }}</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Views: {% get_hit_count for product %}</a></li>
                                        </ul>
                                    </div>
                                    
                                    {% empty %}
                                    <h2>No Available Product Yet!</h2>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>                   
                </article>
                
                <!-- <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Previous">
                                <i class="ti-angle-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link" aria-label="Next">
                                <i class="ti-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav> -->
            </div>
        </div>
        <div class="col-lg-4">
            <div class="blog_right_sidebar">
                
            </div>
        </div>
    </div>
</div>
</section>
<!-- Latest Products End -->

 <!-- Best Product End-->
 <!-- Best Collection Start -->
 <!-- <div class="best-collection-area section-padding2">
     <div class="container">
         <div class="row d-flex justify-content-between align-items-end"> -->
             <!-- Left content -->
             <!-- <div class="col-xl-4 col-lg-4 col-md-6">
                 <div class="best-left-cap">
                     <h2>Best Collection of This Month</h2>
                     <a href="#" class="btn shop1-btn">Order Now</a>
                 </div>
                 <div class="best-left-img mb-30 d-none d-sm-block">
                     <img src="{% static 'assets/img/goshop/cooker2.jpg' %}" alt="">
                 </div>
             </div> -->
             <!-- Mid Img -->
              <!-- <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                 <div class="best-mid-img mb-30 ">
                     <img src="{% static 'assets/img/collection/collection2.png' %}" alt="">
                 </div>
             </div> -->
             <!-- Riht Caption -->
             <!-- <div class="col-xl-4 col-lg-6 col-md-6">
                 <div class="best-right-cap ">
                    <div class="best-single mb-30">
                        <div class="single-cap">
                            <h4>Men Winter<br> Jacket</h4>
                        </div>
                        <div class="single-img">
                           <img src="{% static 'assets/img/collection/collection3.png' %}" alt="">
                        </div>
                    </div>
                 </div>
                 <div class="best-right-cap">
                    <div class="best-single mb-30">
                        <div class="single-cap active">
                            <h4><br> Men<br>Jeans</h4>
                        </div>
                        <div class="single-img">
                           <img src="{% static 'assets/img/collection/collection4.png' %}" alt="">
                        </div>
                    </div>
                 </div>
                 <div class="best-right-cap">
                    <div class="best-single mb-30">
                        <div class="single-cap">
                            <h4>Men's Winter <br> Jacket</h4>
                        </div>
                        <div class="single-img">
                           <img src="{% static 'assets/img/collection/collection5.png' %}" alt="">
                        </div>
                    </div>
                 </div>
             </div> 
         </div>
     </div>
 </div> -->
 <!-- Best Collection End -->
 <!-- Latest Offers Start -->
 
 <!-- Gallery End-->
 {% endblock %}
 </main>    
 
 