{% extends 'goshopbase/base2.html' %}
{% load static %}
{% load blog_tags %}
{% load hitcount_tags %}

<!-- slider Area Start-->
{% block content %}
<section>
 <!-- Breadcrumbs -->
 <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!-- <ul>
            <li class="home"> <a href="index.html" title="Go to Home Page">Home</a> <span>/</span> </li>
            <li> <a href="shop_grid.html" title="">Clutches</a> <span>/ </span> </li>
            <li> <a href="shop_grid.html" title="">Bucket Bag</a> <span>/</span> </li>
            <li> <strong>Lorem ipsum dolor sit amet</strong> </li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  
  <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-main">
            <div class="product-view">
              <div class="product-essential">
                <form action="#" method="post" id="product">
                  <div class="product-img-box col-lg-5 col-sm-5 col-xs-12">
                    <div class="new-label new-top-left"> New </div>
                    <div class="product-image">
                      <div class="product-full"> <img class="img-responsive" id="product-zoom" src="{{ product.imageURL }}" data-zoom-image="{{ product.imageURL }}" alt="product-image"/> </div>
                      <div class="more-views">
                        <div class="slider-items-products">
                          <div id="gallery_01" class="product-flexslider hidden-buttons product-img-thumb">
                            <div class="slider-items slider-width-col4 block-content">
                              <div class="more-views-items"> <a href="#" data-image="images/products/img01.jpg" data-zoom-image="{{ product.imageURL_one }}"> <img class="img-responsive" id="product-zoom"  src="{{ product.imageURL_one }}" alt="product-image"/> </a></div>
                              <div class="more-views-items"> <a href="#" data-image="images/products/img01.jpg" data-zoom-image="{{ product.imageURL_two }}"> <img class="img-responsive" id="product-zoom"  src="{{ product.imageURL_two }}" alt="product-image"/> </a></div>
                              <div class="more-views-items"> <a href="#" data-image="images/products/img01.jpg" data-zoom-image="{{ product.imageURL_three }}"> <img class="img-responsive" id="product-zoom"  src="{{ product.imageURL_three }}" alt="product-image"/> </a></div>
                              <div class="more-views-items"> <a href="#" data-image="images/products/img01.jpg" data-zoom-image="{{ product.imageURL_four }}"> <img class="img-responsive" id="product-zoom"  src="{{ product.imageURL_four }}" alt="product-image"/> </a> </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end: more-images --> 
                  </div>
                  <div class="product-shop col-lg-7 col-sm-7 col-xs-12">
                    <div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div>
                    <div class="product-name">
                      <h1>{{ product.name }}</h1>
                    </div>
                    <!-- <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                      <p class="rating-links"> <a href="#">4 Review(s)</a> <span class="separator">|</span> <a href="#"><i class="fa fa-pencil"></i> write a review</a> </p>
                    </div> -->
                    <div class="price-block">
                      <div class="price-box">
                        <p class="special-price"> <span class="price-label">Special Price</span> <span id="product-price-48" class="price"> NGN {{ product.price }} </span> </p>
                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> NGN {{ product.price }} </span> </p>
                      </div>
                    </div>
                    <div class="info-orther">
                      <p>Item Code: #{{ product.id }}</p>
                      <p>Availability: <span class="in-stock">{{ product.availabilty }}</span></p>
                      <p>Condition: {{ product.condition }}</p>
                    </div>
                    <div class="short-description">
                      <h2>Quick Overview</h2>
                      <p>{{ product.description| slice:"150" }} </p>
                    </div>
                    <div class="form-option">
                      <p class="form-option-title">Available Options:</p>
                      <div class="attributes">
                        <div class="attribute-label">Color:</div>
                        <div class="attribute-list">
                          <!-- <ul class="list-color">
                            <li style="background:#DD4132;"><a href="#">Fiesta</a></li>
                            <li style="background:#4F84C4;"><a href="#">Marina</a></li>
                            <li style="background:#EE82EE;" class="active"><a href="#">Violet</a></li>
                            <li style="background:#92B558;"><a href="#">Green</a></li>
                            <li style="background:#191970;"><a href="#">MidnightBlue</a></li>
                            <li style="background:#ff0000;"><a href="#">red</a></li>
                          </ul> -->
                        </div>
                      </div>
                      <div class="add-to-box">
                        <div class="add-to-cart">
                          <div class="pull-left">
                            <!-- <div class="custom pull-left">
                              <label>Qty :</label>
                              <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )  ) result.value--;return false;" class="reduced items-count" type="button"><i class="fa fa-minus">&nbsp;</i></button>
                              <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                              <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="fa fa-plus">&nbsp;</i></button>
                            </div> -->
                          </div>
                          <a href="{% url 'cart_add' product.id %}" onClick="productAddToCartForm.submit(this)" class="button btn-cart" title="Add to Cart" type="button">Add to Cart</span></a>
                          
                        </div>
                        <!-- <div class="email-addto-box">
                          <ul class="add-to-links">
                            <li> <a class="link-wishlist" href="wishlist.html"><span>Add to Wishlist</span></a></li>
                            <li><span class="separator">|</span> <a class="link-compare" href="compare.html"><span>Add to Compare</span></a></li>
                          </ul>
                        </div> -->
                      </div>
                    </div>
                    <!-- <div class="form-share">
                      <div class="sendtofriend-print"> <a href="javascript:print();"><i class="fa fa-print"></i> Print</a> <a href="#"><i class="fa fa-envelope-o fa-fw"></i> Send to a friend</a> </div>
                    </div> -->
                  </div>
                </form>
                
              </div>
            </div>
          </div>
          <div class="product-collateral col-lg-12 col-sm-12 col-xs-12">
            <div class="add_info">
              <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Product Description </a> </li>
                
              </ul>
              <div id="productTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="product_tabs_description">
                  <div class="std">
                    <p>{{ product.description }}</p>
                    
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End --> 
  
  <!-- Related Products Slider -->
  
  <div class="container">
    
  </div>
  <!-- Related Products Slider End --> 
  
  <!-- Upsell Product Slider -->
  <div class="container">
    
  </div>
  
  
</section>
{% endblock %}
<!--================Blog Area =================-->